@import '../../variables.scss';


.container {
    position: relative;
    overflow: hidden;

    &-borderBottom {
        border-bottom: solid 1px #000;
    }
    
    .container_project {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        text-transform: uppercase;
        gap: 20px;
        cursor: pointer;
        transition: top 350ms ease-in-out;
        
        @media only screen and (min-width: 1000px) {
            top: 40px;
            position: relative;
        }
        

        &:hover {
            @media only screen and (min-width: 1000px) {
                top: 0;
            }    
        }

        &_info {
            display: flex;
            flex-direction: column;
            align-items: end;
        }
    
        &_number {
            font-size: 30px;
            @media only screen and (min-width: 600px) {
                font-size: 40px;
            }
            @media only screen and (min-width: 769px) {
                font-size: 50px;
            }
        }
    
        &_title {
            display: flex;
            gap: 30px;
            align-items: baseline;
            font-size: 16px;
            font-weight: normal;
            margin-bottom: 5px;
            @media only screen and (min-width: 600px) {
                font-size: 20px;
            }
            @media only screen and (min-width: 769px) {
                font-size: 30px;
            }

            &-div {
                font-family: $secondary-font;
                text-transform: lowercase;
                font-style: italic;
                font-size: 14px;
                display: none;
                @media only screen and (min-width: 1000px) {
                    display: flex;
                    justify-content: end;
                    gap: 15px;
                    align-items: baseline;
                }

                &-arrow1 {
                    position: absolute;
                    right: 3px;
                    top: 32px;
                    transform: rotate(45deg);

                    @media only screen and (min-width: 1000px) {
                        top: 83px;
                    }
                }
                &-line {
                    margin: 0;
                    position: relative;
                    bottom: 1;
                    width: 70px;
                    border-bottom: solid 1px #000;

                    @media only screen and (min-width: 1000px) {
                        margin-bottom: 3px;
                    }
                }

                &-arrow2 {
                    position: absolute;
                    right: 3px;
                    top: 27px;
                    transform: rotate(-45deg);

                    @media only screen and (min-width: 1000px) {
                        top: 78px;
                    }
                }
                &-arrow1, 
                &-arrow2 {
                    height: 6px;
                    width: 1px;
                    background-color: #333;
                }     
            }
        }
    }

    &_modalProject {
        width: 100%;
        height: 100vh;
        background-color: white;
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        overflow: auto;
        @media only screen and (min-width: 1000px) {
            animation: modaleRight 350ms ease-in-out forwards;
        }
        
        @keyframes modaleRight {
            0% {
                right: -500px;
            }
            20% {
                right: -350px;
            }
            50% {
                right: -200px;
            }
            80% {
                right: -50px;
            }
            100% {
                right: 0;
            }
        }

        // &-close {
        //     animation: modaleDown 350ms ease-in-out forwards;

        //     @keyframes modaleDown {
        //         0% {
        //             top: 0;
        //         }
        //         20% {
        //             top: 150px;
        //         }
        //         50% {
        //             top: 550px;
        //         }
        //         80% {
        //             top: 800px;
        //         }
        //         100% {
        //             top: 1000px;
        //         }
        //     }
        // }

        &_header,
        &_content {
            margin: 0 24px;
            @media only screen and (min-width: 600px) {
                margin: 0 50px 0 50px;
              }
            @media only screen and (min-width: 724px) {
                margin: 0 80px 0 80px;
            }
        }

        &_header {
            font-size: 25px;
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            font-weight: 300;
            @media only screen and (min-width: 380px) {
                font-size: 30px;
            }
            @media only screen and (min-width: 600px) {
                font-size: 45px;
            }
            @media only screen and (min-width: 724px) {
                font-size: 60px;
            }

            &-title {
                display: flex;
                align-items: baseline;
                gap: 25px;
                text-transform: uppercase;
                @media only screen and (min-width: 600px) {
                    gap: 35px;
                  }
                @media only screen and (min-width: 724px) {
                    gap: 50px;
                }

                h3 {
                    font-weight: 300;
                }
            }
        }

        &_description {
            display: flex;
            flex-direction: column;
            text-align: justify;
            justify-content: center;
            font-family: $secondary-font;

            @media only screen and (min-width: 900px) {
                flex-direction: row-reverse;
                gap: 50px;
            }

            // @media only screen and (min-width: 1000px) {
            //      display: block;
            // }

            @media only screen and (min-width: 1000px) {
                flex-direction: row-reverse;
                gap: 150px;
            }

            &-img {
                width: auto;
                min-height: 150px;
                object-fit: cover;

                @media only screen and (min-width: 724px) {
                    max-height: 350px;
                }
                @media only screen and (min-width: 900px) {
                    width: 45%;
                }
                
            }

            &-text {
                font-size: 14px;
                font-weight: 300;
                @media only screen and (min-width: 724px) {
                    font-size: 16px;
                }

                &-highlight {
                    display: block;
                    font-weight: bold;
                    @media only screen and (min-width: 380px) {
                        margin-bottom: 20px;
                    }
                }
            }
        }

        &_links {
            display: flex;
            justify-content: left;
            gap: 25px;
            font-weight: 500;
            @media only screen and (min-width: 724px) {
                gap: 50px;
            }

            @media only screen and (min-width: 1000px) {
                gap: 80px;
            }
        }

        &_link {
            text-decoration: none;
            color: black;
            font-weight: 300;
            cursor: pointer;
            transition: font-weight 350ms ease-in-out;
            &:hover {
                font-weight: bold;
            }
        }
        
        .container_cross {
            align-self: center;
            height: 35px;
            width: 27px;
            cursor: pointer;
            position: absolute;
            right: 22px;
            top: 28px;

            @media only screen and (min-width: 380px) {
                top: 38px;
            }
    
            @media only screen and (min-width: 600px) {
                right: 50px;
                top: 60px;
                height: 45px;
                width: 48px;
            }
    
            @media only screen and (min-width: 724px) {
                right: 80px;
                top: 82px;
                height: 62px;
                width: 64px;
            }

            &-close {
                position: absolute;
                right: 15px;

                @media only screen and (min-width: 600px) {
                    right: 25px;
                    bottom: 52px;
                }
                @media only screen and (min-width: 724px) {
                    right: 32px;
                    bottom: 76px;
                }
            }
    
            &-close:before, &-close:after {
                position: absolute;
                content: ' ';
                height: 35px;
                width: 1px;
                background-color: #333;
                
                @media only screen and (min-width: 600px) {
                    height: 60px;
                }
    
                @media only screen and (min-width: 724px) {
                    height: 90px;
                }
            }
              
            &-close:before {
                transform: rotate(45deg);
            }
            &-close:after {
                transform: rotate(-45deg);
            }
        }
    }
}